body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

header{
  background:#111;
  color:white;
  text-align:center;
  padding:60px 20px;
}

header h1{
  font-size:50px;
}

.services{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  padding:40px;
}

.card{
  background:white;
  padding:30px;
  width:220px;
  text-align:center;
  border-radius:15px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  font-size:22px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

.contact{
  background:#222;
  color:white;
  text-align:center;
  padding:40px;
}
.logo-container{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo{
  width:65px;
  height:65px;
  object-fit:contain;

  filter:
  drop-shadow(0 0 12px rgba(255,215,0,0.5));

  transition:0.5s;
}

.logo:hover{
  transform:scale(1.08) rotate(3deg);
}